MODE=dev
#default backend port
PORT=3000
SYNCHRONIZE=true
DATABASE_URL=''
#default verification token expiry time in minutes
VERIFICATION_TOKEN_EXPIRY=15
VERIFICATION_TOKEN_LENGTH=16

JWT_SECRET=''
#in seconds
ACCESS_TOKEN_EXPIRY=900

#in seconds (7 days)
REFRESH_TOKEN_EXPIRY=604800

EMAIL_HOST=''
#default email port
EMAIL_PORT=465
EMAIL_USERNAME=''
EMAIL_PASSWORD=''