MODE=prod
#default backend port
PORT=3000
SYNCHRONIZE=false
DATABASE_URL=''
#default verification token expiry time in minutes
VERIFICATION_TOKEN_EXPIRY=15

JWT_SECRET=''
#in seconds
ACCESS_TOKEN_EXPIRY=900

EMAIL_HOST=''
#default email port
EMAIL_PORT=2525
EMAIL_USERNAME=''
EMAIL_PASSWORD=''